In [1]:
import pandas as pd

In [17]:
artf = pd.read_csv("/Users/rosana.eljurdi/Datasets/LymphSeg_dataset/val/metrics.csv")
l = artf.set_index('patient').dropna()

l[l['dice'] != 0].describe()

       Unnamed: 0       dice       hauss       MASD
count   10.000000  10.000000   10.000000  10.000000
mean     6.200000   0.711745   44.633505   7.003794
std      3.938415   0.221676   50.599190   7.900830
min      0.000000   0.185191    2.000000   0.388540
25%      3.250000   0.619410    4.860096   1.746292
50%      6.500000   0.771604   20.769556   4.600810
75%      8.750000   0.859322   74.137654  10.038960
max     12.000000   0.938874  142.144293  26.170554

In [18]:
artf = pd.read_csv("/Users/rosana.eljurdi/Datasets/LymphSeg_dataset/train/metrics.csv")
l = artf.set_index('patient').dropna()

l[l['dice'] != 0].describe()

       Unnamed: 0       dice       hauss       MASD
count   48.000000  48.000000   48.000000  48.000000
mean    27.520833   0.866150   18.137582   2.069332
std     16.041157   0.084679   33.393638   3.150679
min      0.000000   0.600450    1.000000   0.119546
25%     14.500000   0.820733    2.000000   0.440176
50%     29.000000   0.893839    2.638958   0.702397
75%     41.250000   0.930029    7.873992   1.641551
max     53.000000   0.955665  127.283149  13.382603

In [21]:
artf = pd.read_csv("/Users/rosana.eljurdi/Datasets/LymphSeg_dataset/test/metrics.csv")
l = artf.set_index('patient').dropna()

l[l['dice'] != 0].describe()

,Unnamed: 0,dice,hauss,MASD
patient,,,,
sub-1070222,0,0.866688,9.949874,"(0.3344587383414927, 1.6431376603838062)"
sub-1070741,1,0.767354,9.273618,"(0.9014119956970453, 1.9873431417158096)"
sub-1071130,2,0.055808,42.871902,"(6.048027697550618, 15.252359320471069)"
sub-1071219,3,0.808431,5.385165,"(1.495458936414282, 0.6208424761779175)"
sub-1071241,4,0.094937,153.456834,"(0.2835930529033664, 42.20418038878046)"
sub-1071252,5,0.772237,8.602325,"(0.9211872985734306, 2.0870883594359797)"
sub-1071364,6,0.823227,6.000000,"(1.2933894962818853, 1.2911592437041388)"
sub-1071513,7,0.879833,6.324555,"(1.3409151740938592, 0.7016363690673856)"
sub-1071646,8,0.215084,31.780497,"(4.191921985271682, 12.625905695537892)"
sub-1071792,9,0.869331,10.344080,"(2.109041232076074, 2.4832277335129747)"
sub-1072004,10,0.000000,157.588071,"(107.94421420441105, 94.8176585407584)"
sub-1072120,11,0.633511,49.578221,"(10.162886563923411, 3.6467937858758672)"
sub-1072550,12,0.738756,27.440845,"(0.49026613660719986, 3.1330950589832476)"
sub-1072782,13,0.701136,15.165751,"(0.6241554796752158, 3.5970564614582803)"
sub-1072858,14,0.769979,10.392305,"(1.6539108086413012, 2.419807391209605)"
sub-1073463,15,0.730480,5.000000,"(0.6650002548091364, 1.2646197028335011)"
sub-1073847,16,0.803691,39.331921,"(8.213739103719814, 7.3109561757166475)"
sub-1073888,17,0.737922,17.029386,"(0.6396008771081653, 4.3276837112441005)"
sub-1075196,18,0.343193,51.855569,"(9.852874871881998, 4.581571036468391)"
sub-1075346,19,0.770107,2.828427,"(0.8160429685198848, 0.8686242688805623)"
sub-1075883,20,0.892080,27.820855,"(0.9545903698432474, 2.9749847380296552)"
sub-1076513,21,0.727759,57.384667,"(1.871457592661557, 12.058657197311266)"
sub-1077163,22,0.597680,87.338422,"(0.47216606378980364, 27.34403614873037)"
sub-1078418,23,0.294097,163.346258,"(19.50571553876863, 3.9532776167759263)"
sub-1078665,24,0.000000,81.000000,"(63.00192428211991, 57.55205280131709)"
sub-1078847,25,0.802152,16.673332,"(0.6662328979958506, 2.6880365202647463)"
sub-1078918,26,0.783855,12.000000,"(1.9326620524241915, 2.1697198089473617)"
sub-1078968,27,0.508117,100.851376,"(2.334983908008139, 21.10080286313437)"
sub-1079418,28,0.747669,119.205705,"(38.59987667525425, 1.2423392093242105)"

In [20]:
artf = pd.read_csv("/Users/rosana.eljurdi/Datasets/LymphSeg_dataset/artf_test/metrics.csv")
l = artf.set_index('patient').dropna()

l[l['dice'] != 0].describe()

       Unnamed: 0       dice      hauss       MASD
count   15.000000  15.000000  15.000000  15.000000
mean     8.866667   0.695231  27.044033   4.323619
std      6.104643   0.243530  17.962867   4.845572
min      0.000000   0.220276   4.000000   0.537273
25%      4.500000   0.517225   9.427805   1.446423
50%      8.000000   0.780983  24.879711   3.093522
75%     13.000000   0.905172  41.766182   5.181537
max     20.000000   0.923494  59.715995  20.096425