In [1]:
import pandas as pd

In [2]:
df_Evolution = pd.read_csv('../Results/Results_b8/metrics.csv')

df_Evolution

,epoch,tra_loss,val_loss,tra_dice,val_dice,tra_batch_dice,val_batch_dice
0,0,0.9174,0.9271,0.1571,0.3768,0.0,0.2554
1,1,0.8758,0.8924,0.3060,0.4733,0.0,0.3580
2,2,0.8661,0.8885,0.3540,0.3253,0.0,0.3372
3,3,0.8563,0.8957,0.4002,0.3788,0.0,0.3276
4,4,0.8516,0.8939,0.4185,0.5174,0.0,0.3735
...,...,...,...,...,...,...,...
195,195,0.1243,0.2288,0.8761,0.7725,0.0,0.4767
196,196,0.1280,0.2343,0.8720,0.7655,0.0,0.4804
197,197,0.1133,0.2313,0.8865,0.7687,0.0,0.4577
198,198,0.1133,0.2509,0.8864,0.7496,0.0,0.4753
199,199,0.1597,0.2295,0.8415,0.7718,0.0,0.4945

In [3]:
df_Evolution.plot(x='epoch', y=["tra_loss", "val_loss"])

NameError: name 'df_Evolution' is not defined